<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpandCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94E0B6DC1D76649200E19B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E0B6F51D76649200E19B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E0B7001D76649200E19B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
